body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 252, 241);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    background-color: white;
    border: .25rem solid gray;
    border-radius: 1rem;
}

.title {
    width: 100%;
}

.content {
    display: flex;
    flex-basis: 100%;
    flex: none;
    height: 100%;
}

.sidebar {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 20vw;
}

.main-canvas {
    margin-left: auto;
}

.options li {
    list-style: none;
}

.main-canvas,
.submenu-canvas {
    width: 500px;
    height: 500px;
    background-color: antiquewhite;
}

.submenu-canvas {
    background-color: rgb(239, 250, 179);
}
